[[redirects]]
  from = "/callback*"
  to = "/callback.html"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "no-referrer"
    Permissions-Policy = "interest-cohort=()"

[[headers]]
  for = "/callback"
  [headers.values]
    Cache-Control = "no-cache, no-store, must-revalidate"
